﻿@model Workshop_MVC.Context.tb_user
@{
    ViewBag.Title = "Users";
}
<style>
    .error{
        color:red;
    }
    
</style>
@using (Html.BeginForm("AddUsers", "Users", FormMethod.Post))
{
<div class="container">
    <div class="form-group">
        @Html.HiddenFor(x=>x.ID)
        <label>First Name</label>
        @Html.ValidationMessageFor(x => x.Fname,"",new { @class="error"})
        @Html.TextBoxFor(x => x.Fname, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Last Name</label>
        @Html.ValidationMessageFor(x => x.Lname, "", new { @class = "error" })
        @Html.TextBoxFor(x => x.Lname, new { @class = "form-control" })
    </div>        
    <div class="form-group">
        <label>Email</label>
        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "error" })
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    </div>        
    <div class="form-group">
        <label>Mobile</label>
        @Html.ValidationMessageFor(x => x.Mobile, "", new { @class = "error" })
        @Html.TextBoxFor(x => x.Mobile, new { @class = "form-control" })
    </div>        
    <div class="form-group">
        <label>Desc</label>
        @Html.ValidationMessageFor(x => x.Desc, "", new { @class = "error" })
        @Html.TextAreaFor(x => x.Desc, new { @class = "form-control", @rows = "10" })
    </div>     
    
    <div class="form-group">
        <button type="submit" class="btn btn-success"> submit</button>
        <button type="reset" class="btn btn-danger"> cancel</button>
    </div>
</div>


}

