﻿@model  List<Workshop_MVC.Context.tb_user> 
@{
    ViewBag.Title = "Userslist";
}
<table class="table table-hover">
    <tr>
        <th>id</th>
        <th>fname</th>
        <th>lname</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Desc</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>@item.ID</th>
            <th>@item.Fname</th>
            <th>@item.Lname</th>
            <th>@item.Email</th>
            <th>@item.Mobile</th>
            <th>@item.Desc</th>
            <th>
                <a href="@Url.Action("Users", new { item.ID,item.Fname,item.Lname,item.Email,item.Mobile,item.Desc})" class="btn btn-warning">edit</a>
                <a href="@Url.Action("Delete", new { item.ID })" class="btn btn-danger" >delete</a>
            </th>
        </tr>
    }

</table>